* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

body.lock .header__inner {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
}

body.lock .bg-mobile-menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.lock {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 2px;
}

@media (max-width: 540px) {
  .title {
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.4px;
  }
}

.btn {
  color: #292929;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 14px 45px 15px;
  border-radius: 100px;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: #FDDCC4;
}

.first-screen {
  background: url(../images/start-screen-gradient-background.jpg);
  background-size: cover;
}

.header {
  padding: 60px 0;
}

@media (max-width: 992px) {
  .header {
    padding: 30px 0 0;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-pets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 5;
}

.header-pets__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header-pets .logo p {
  color: #292929;
}

.header-pets .menu {
  color: #292929;
}

.header-pets .menu a:hover {
  color: #363636;
}

.logo {
  opacity: 1;
}

@media (max-width: 767px) {
  .logo {
    position: relative;
    z-index: 6;
  }
}

.logo h1 {
  color: #F1CDB3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 400;
}

.logo p {
  color: #FFFFFF;
  letter-spacing: 1.3px;
  font-size: 13px;
  line-height: 15px;
  margin-left: 4px;
}

.menu {
  color: #CDCDCD;
}

.menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .menu__list {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 5;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    font-size: 32px;
    line-height: 160%;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .menu__list.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    overflow: auto;
  }
}

.menu__item {
  margin-left: 36px;
}

@media (max-width: 767px) {
  .menu__item {
    margin-left: 0;
  }
}

.menu__item.active {
  border-bottom: 3px solid #F1CDB3;
}

.menu__item a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__item a:hover {
  color: #dadada;
}

.menu__burger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  border-top: 2px solid #F1CDB3;
  border-bottom: 2px solid #F1CDB3;
  margin-right: 43px;
  z-index: 5;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__burger.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__burger span {
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  position: absolute;
  top: 8px;
  left: 0;
}

@media (max-width: 767px) {
  .menu__burger {
    display: block;
  }
}

.not-only__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}

@media (max-width: 992px) {
  .not-only__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.not-only__box {
  margin-bottom: 100px;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .not-only__box {
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
  .not-only__box {
    text-align: center;
    margin-bottom: 63px;
  }
}

.not-only__title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 163px;
  margin-bottom: 42px;
  letter-spacing: normal;
}

@media (max-width: 1120px) {
  .not-only__title {
    margin-top: 60px;
  }
}

@media (max-width: 540px) {
  .not-only__title {
    font-size: 25px;
    letter-spacing: 1.3px;
  }
}

.not-only__text {
  color: #CDCDCD;
  margin-bottom: 42px;
}

.not-only__btn {
  background-color: #F1CDB3;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 992px) {
  .not-only__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.not-only__img {
  max-width: 698px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (max-width: 1120px) {
  .not-only__img {
    max-width: 569px;
  }
}

@media (max-width: 767px) {
  .not-only__img {
    margin-left: 40px;
  }
}

.not-only__img img {
  width: 100%;
  display: block;
}

.about {
  margin: 80px 0 100px;
}

@media (max-width: 680px) {
  .about {
    margin: 42px 0;
  }
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__img {
  margin-right: 120px;
  max-width: 300px;
}

@media (max-width: 992px) {
  .about__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .about__img {
    max-width: 260px;
  }
}

.about__box {
  max-width: 430px;
}

@media (max-width: 992px) {
  .about__box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 80px;
  }
}

@media (max-width: 680px) {
  .about__box {
    margin-bottom: 42px;
  }
}

.about__title {
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 25px;
}

@media (max-width: 320px) {
  .about__text {
    margin-bottom: 22px;
  }
}

.about__text:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 680px) {
  .about__text {
    text-align: justify;
  }
}

@media (max-width: 320px) {
  .about__text {
    padding: 0 15px;
  }
}

.our-friends {
  padding: 80px 0 100px;
  background-color: #F6F6F6;
  text-align: center;
}

@media (max-width: 680px) {
  .our-friends {
    padding: 42px 0;
  }
}

.our-friends__title {
  text-align: center;
  max-width: 430px;
  margin: 0 auto 60px;
}

@media (max-width: 768px) {
  .our-friends__title {
    margin-bottom: 57px;
  }
}

@media (max-width: 320px) {
  .our-friends__title {
    margin-bottom: 42px;
  }
}

.our-friends__btn {
  background-color: #F1CDB3;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: auto;
}

.modal.open-modal {
  visibility: visible;
  opacity: 1;
}

.modal__inner {
  background-color: #FAFAFA;
  width: 900px;
  margin: 0 auto;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1120px) {
  .modal__inner {
    width: 630px;
  }
}

@media (max-width: 767px) {
  .modal__inner {
    width: 240px;
  }
}

.modal__close {
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  position: absolute;
  top: -52px;
  right: -52px;
  z-index: 2;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal__close:hover {
  background-color: #F1CDB3;
}

@media (max-width: 767px) {
  .modal__close {
    right: -30px;
  }
}

.modal__img img {
  width: 500px;
}

@media (max-width: 1120px) {
  .modal__img img {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .modal__img img {
    display: none;
  }
}

.modal__box {
  margin-top: 50px;
  margin-left: 29px;
  width: 350px;
  color: #000;
}

@media (max-width: 1120px) {
  .modal__box {
    width: 260px;
    margin-top: 10px;
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .modal__box {
    width: 220px;
    margin: 10px;
  }
}

.modal__box-name {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .modal__box-name {
    text-align: center;
  }
}

.modal__box-breed {
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 40px;
}

@media (max-width: 1120px) {
  .modal__box-breed {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .modal__box-breed {
    text-align: center;
  }
}

.modal__box-description {
  line-height: 110%;
  margin-bottom: 40px;
}

@media (max-width: 1120px) {
  .modal__box-description {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .modal__box-description {
    margin-bottom: 24px;
  }
}

.modal__box-list {
  list-style: none;
  padding-left: 0;
}

.modal__box-list li {
  position: relative;
  padding-left: 14px;
}

.modal__box-list li:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #F1CDB3;
  position: absolute;
  top: 10px;
  left: 0;
}

.modal__box-list span {
  font-weight: 700;
  text-transform: capitalize;
}

.help {
  padding: 80px 0 100px;
}

@media (max-width: 767px) {
  .help {
    padding: 42px 0;
  }
}

.help__title {
  text-align: center;
  max-width: 310px;
  margin: 0 auto 59px;
}

@media (max-width: 767px) {
  .help__title {
    margin-bottom: 42px;
  }
}

.help__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 55px 120px;
}

@media (max-width: 1270px) {
  .help__list {
    gap: 55px 60px;
  }
}

@media (max-width: 767px) {
  .help__list {
    gap: 30px 30px;
  }
}

@media (max-width: 320px) {
  .help__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.help__item {
  text-align: center;
}

@media (max-width: 1270px) {
  .help__item {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .help__item {
    width: 130px;
  }
}

.help__item svg path {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.help__item:hover svg path {
  fill: #FDDCC4;
}

.help__item svg {
  margin-bottom: 22px;
}

@media (max-width: 320px) {
  .help__item svg {
    margin-bottom: 13px;
    width: 50px;
    height: 50px;
  }
}

.help__item p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
}

@media (max-width: 680px) {
  .help__item p {
    font-size: 15px;
    line-height: 110%;
  }
}

.slider {
  position: relative;
  max-width: 990px;
  margin-bottom: 30px;
  padding: 0 50px;
}

.slider__items {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .arrows {
  color: #FDDCC4;
}

.slider .arrow-prev {
  left: 0px;
}

.slider .arrow-next {
  right: 0px;
}

.card {
  background-color: #FAFAFA;
  border-radius: 9px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.card:hover {
  background-color: #FFFFFF;
}

.card:hover .btn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.card__img {
  width: 100%;
  margin-bottom: 23px;
}

.card__name {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.card__btn {
  border: 2px solid #F1CDB3;
  margin-bottom: 28px;
}

.addition {
  background-color: #F6F6F6;
  padding: 80px 0 100px;
}

@media (max-width: 680px) {
  .addition {
    padding: 42px 0;
  }
}

.addition__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .addition__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 680px) {
  .addition__inner {
    padding: 0 10px;
  }
}

.addition__img {
  max-width: 505px;
  margin-right: 30px;
  margin-top: 11px;
}

@media (max-width: 992px) {
  .addition__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
}

@media (max-width: 680px) {
  .addition__img {
    max-width: 260px;
  }
}

.addition__img img {
  width: 100%;
  display: block;
}

.addition__box {
  max-width: 380px;
}

@media (max-width: 992px) {
  .addition__box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 60px;
  }
}

@media (max-width: 680px) {
  .addition__box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 42px;
  }
}

.addition__title {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .addition__title {
    margin-bottom: 15px;
  }
}

@media (max-width: 680px) {
  .addition__title {
    margin-bottom: 19px;
  }
}

.addition__bank {
  margin-bottom: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .addition__bank {
    margin-bottom: 16px;
  }
}

@media (max-width: 540px) {
  .addition__bank {
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 19px;
  }
}

.addition__card {
  margin-bottom: 20px;
  display: block;
}

@media (max-width: 768px) {
  .addition__card {
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .addition__card {
    text-align: center;
  }
}

.addition__card span {
  display: inline-block;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 9px;
  background-color: #F1CDB3;
  padding: 10px 15px 10px 60px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 540px) {
  .addition__card span {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.8px;
    padding: 14px 15px 14px 60px;
  }
}

.addition__card span:hover {
  background-color: #FDDCC4;
}

.addition__card span::before {
  content: '';
  background: url(../images/icons/credit-card.svg);
  width: 30px;
  height: 23px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.addition__info {
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #B2B2B2;
}

@media (max-width: 680px) {
  .addition__info {
    text-align: justify;
  }
}

.footer {
  background: url(../images/start-screen-gradient-background.jpg);
  background-size: cover;
  padding-top: 40px;
  color: #F1CDB3;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 15px;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px 60px;
}

@media (max-width: 1120px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 680px) {
  .footer__inner {
    gap: 20px 60px;
  }
}

.footer__box {
  height: 228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  margin-top: 17px;
}

@media (max-width: 1120px) {
  .footer__box {
    margin-bottom: 25px;
  }
}

@media (max-width: 680px) {
  .footer__box {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 320px) {
  .footer__box {
    margin-bottom: 7px;
  }
}

.footer__box_contacts {
  width: 278px;
}

@media (max-width: 680px) {
  .footer__box_contacts {
    text-align: center;
    height: 200px;
  }
}

.footer__box_address {
  width: 302px;
}

@media (max-width: 680px) {
  .footer__box_address {
    text-align: center;
    height: 222px;
  }
}

.footer__title {
  color: #FFFFFF;
}

@media (max-width: 680px) {
  .footer__title {
    text-align: center;
    max-width: 278px;
  }
}

.footer__mail {
  padding-left: 60px;
  position: relative;
}

.footer__mail::before {
  content: '';
  position: absolute;
  height: 32px;
  top: -6px;
  left: 0;
  background: url(../images/icons/icon-email.svg);
  width: 40px;
}

.footer__phone {
  padding-left: 60px;
  position: relative;
}

.footer__phone::before {
  content: '';
  position: absolute;
  height: 32px;
  top: -6px;
  left: 0;
  background: url(../images/icons/icon-phone.svg);
  width: 40px;
}

.footer__address {
  padding-left: 42px;
  position: relative;
}

.footer__address::before {
  content: '';
  position: absolute;
  height: 32px;
  top: 0px;
  left: 0;
  background: url(../images/icons/icon-marker.svg);
  width: 22px;
}

.footer img {
  display: block;
}

@media (max-width: 680px) {
  .footer img {
    max-width: 260px;
    margin-top: 14px;
  }
}

.our-friends {
  margin-top: 120px;
  padding: 80px 0 100px;
  background-color: #F6F6F6;
  text-align: center;
}

@media (max-width: 992px) {
  .our-friends {
    padding-bottom: 78px;
  }
}

@media (max-width: 680px) {
  .our-friends {
    margin-top: 82px;
    padding-bottom: 40px;
  }
}

.our-friends__title {
  text-align: center;
  max-width: 425px;
  margin: 0 auto 60px;
}

@media (max-width: 992px) {
  .our-friends__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 680px) {
  .our-friends__title {
    margin-bottom: 42px;
  }
}

.our-friends__btn {
  background-color: #F1CDB3;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: auto;
}

.modal.open-modal {
  visibility: visible;
  opacity: 1;
}

.modal__inner {
  background-color: #FAFAFA;
  width: 900px;
  margin: 0 auto;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1120px) {
  .modal__inner {
    width: 630px;
  }
}

@media (max-width: 767px) {
  .modal__inner {
    width: 240px;
  }
}

.modal__close {
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  position: absolute;
  top: -52px;
  right: -52px;
  z-index: 2;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal__close:hover {
  background-color: #F1CDB3;
}

@media (max-width: 767px) {
  .modal__close {
    right: -30px;
  }
}

.modal__img img {
  width: 500px;
}

@media (max-width: 1120px) {
  .modal__img img {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .modal__img img {
    display: none;
  }
}

.modal__box {
  margin-top: 50px;
  margin-left: 29px;
  width: 350px;
  color: #000;
}

@media (max-width: 1120px) {
  .modal__box {
    width: 260px;
    margin-top: 10px;
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .modal__box {
    width: 220px;
    margin: 10px;
  }
}

.modal__box-name {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .modal__box-name {
    text-align: center;
  }
}

.modal__box-breed {
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 40px;
}

@media (max-width: 1120px) {
  .modal__box-breed {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .modal__box-breed {
    text-align: center;
  }
}

.modal__box-description {
  line-height: 110%;
  margin-bottom: 40px;
}

@media (max-width: 1120px) {
  .modal__box-description {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .modal__box-description {
    margin-bottom: 24px;
  }
}

.modal__box-list {
  list-style: none;
  padding-left: 0;
}

.modal__box-list li {
  position: relative;
  padding-left: 14px;
}

.modal__box-list li:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #F1CDB3;
  position: absolute;
  top: 10px;
  left: 0;
}

.modal__box-list span {
  font-weight: 700;
  text-transform: capitalize;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
  margin-bottom: 60px;
  gap: 30px 40px;
}

@media (max-width: 1279px) {
  .cards {
    max-width: 580px;
    margin: 0 auto 40px;
  }
}

@media (max-width: 767px) {
  .cards {
    max-width: 300px;
    margin-bottom: 44px;
  }
}

.cards .card {
  background-color: #FAFAFA;
  border-radius: 9px;
  width: 270px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.cards .card:hover {
  background-color: #FFFFFF;
}

.cards .card:hover .btn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.cards .card__img {
  width: 100%;
  margin-bottom: 23px;
}

.cards .card__name {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.cards .card__btn {
  border: 2px solid #F1CDB3;
  margin-bottom: 28px;
}

@media (max-width: 1279px) {
  .cards .card:nth-child(6) ~ .card {
    display: none;
  }
}

@media (max-width: 767px) {
  .cards .card:nth-child(3) ~ .card {
    display: none;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 680px) {
  .navigation {
    margin: 0 -5px;
  }
}

.navigation button {
  border: 2px solid #F1CDB3;
  padding: 10px;
  margin: 0 10px;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  font-size: 20px;
  color: #292929;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 680px) {
  .navigation button {
    margin: 0 5px;
  }
}

.navigation button:hover {
  border-color: #FDDCC4;
}

.navigation .disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  cursor: auto;
}

.navigation .disabled:hover {
  border: 2px solid #CDCDCD;
}

.navigation .active {
  background-color: #F1CDB3;
}

.navigation .active:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
/*# sourceMappingURL=style.css.map */