$color-dark-xl: #4C4C4C;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-m: #B2B2B2;

*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: $color-dark-xl;
    &.lock .header__inner{
        justify-content: flex-end;
        gap: 40px;
    }
    &.lock .bg-mobile-menu{
        width: 100%;
        height: 100vh;
        background-color: rgba(41, 41, 41, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1; 
    }
}
.lock{
    overflow: hidden;
 
}
.hidden{
    visibility: hidden;
    opacity: 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    @media (max-width: 1279px) {
        padding: 0 30px;      
    }
    @media (max-width: 767px) {
        padding: 0 10px;      
    }
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 2px;
    @media (max-width: 540px) {
        font-size: 25px;    
        text-align: center;  
        letter-spacing: 1.4px;
    }
}
.btn{ 
    color: $color-dark-3xl;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 14px 45px 15px; 
    border-radius: 100px;
    display: inline-block;
    transition: all .3s;
    &:hover{
        background-color: $color-primary-light;
    }
}
.first-screen{
    background: url(../images/start-screen-gradient-background.jpg);
    background-size: cover;
}
.header{ 
    padding: 60px 0;
    @media (max-width: 992px) {
        padding: 30px 0 0;      
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header-pets{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 5;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    .logo p{
        color: $color-dark-3xl;
    }
    .menu{
        color: $color-dark-3xl;
        a:hover{
            color: lighten($color-dark-3xl, 5%); 
        }
    }
}
.logo{
    opacity: 1;
    @media (max-width: 767px) {
        position: relative;
        z-index: 6;
    }
    h1{
        color: $color-primary;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        font-weight: 400;
    }
    p{
        color: $color-light-xl;
        letter-spacing: 1.3px;
        font-size: 13px;
        line-height: 15px;
        margin-left: 4px;
    }
}
.menu{
    color: $color-dark-s;
    &__list{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        
        @media (max-width: 767px) {
            position: fixed;
            top: 0;
            right: 0;
            transform: translateX(100%);
            flex-direction: column;
            z-index: 5;
            width: 320px;
            height: 100vh;
            background-color: $color-dark-3xl;
            justify-content: center;
            align-items: center;
            gap: 40px;
            font-size: 32px;
            line-height: 160%;
            transition: all .5s;
            &.open{
                transform: translateX(0);
                overflow: auto;
            }
        }

    }
    &__item{
        margin-left: 36px;
        @media (max-width: 767px){
            margin-left: 0;
        }
        &.active{
            border-bottom: 3px solid $color-primary;
        }
        a{
            transition: all .3s;
        }
        a:hover{
            color: lighten($color-dark-s, 5%); 
        }
    }
    &__burger{
        display: none;
        width: 30px;
        height: 22px;
        position: relative;
        border-top: 2px solid $color-primary;
        border-bottom: 2px solid $color-primary;
        margin-right: 43px;   
        z-index: 5;
        cursor: pointer;
        transition: .5s;
        &.open{
            transform: rotate(90deg);
        }
        span{
            width: 30px;
            height: 2px;
            background-color: $color-primary;
            position: absolute;
            top: 8px;
            left: 0;
        }
        @media (max-width: 767px) {
            display: block;
        }
    }
}
.not-only{ 
    &__inner{
        display: flex;
        justify-content: space-between;
        gap: 42px;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;      
        }
    }
    &__box{
        margin-bottom: 100px;
        max-width: 460px;  
        display: flex;
        flex-direction: column;
        @media (max-width: 992px) {
            margin-bottom: 58px;    
        }
        @media (max-width: 767px) {
            text-align: center;
            margin-bottom: 63px;    
        }
    }
    &__title{
        color: $color-light-xl;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 163px;
        margin-bottom: 42px;
        //max-width: 350px;
        letter-spacing: normal;
        @media (max-width: 1120px) {
            margin-top: 60px;
   
        }
        @media (max-width: 540px) {
            font-size: 25px;   
            letter-spacing: 1.3px;  
        }
    }
    &__text{
        color: $color-dark-s;
        margin-bottom: 42px; 

    }
    &__btn{        
        background-color: $color-primary;
        align-self: flex-start;
        @media (max-width: 992px) {
            align-self: center;
        }
    }
    &__img{
        max-width: 698px;
        align-self: end;
        @media (max-width: 1120px) {
            max-width: 569px;   
        }
        @media (max-width: 767px) {
            margin-left: 40px;
        }
        img{
            width: 100%;
            display: block;
        }
    }
}
.about{
    margin: 80px 0 100px;
    @media (max-width: 680px) {
        margin: 42px 0;  
    }
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;  
        }
    }
    &__img{
        margin-right: 120px;
        max-width: 300px;
        @media (max-width: 992px) {
            order: 2;
            margin-right: 0;
        }        
        @media (max-width: 320px) {
            max-width: 260px;

        }
    }
    &__box{
        max-width: 430px;
        @media (max-width: 992px) {
            order: 1;
            margin-bottom: 80px;    
        }
        @media (max-width: 680px) {
            margin-bottom: 42px;
        }
    }
    &__title{
        margin-bottom: 25px;
    }
    &__text{
        margin-bottom: 25px;
        @media (max-width: 320px) {
            margin-bottom: 22px;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
        @media (max-width: 680px) {
            text-align: justify;  
        }
        @media (max-width: 320px) {
            padding: 0 15px;
        }
    }
}
.our-friends{
    padding: 80px 0 100px;
    background-color: $color-light-l;
    text-align: center;
    @media (max-width: 680px) {
        padding: 42px 0;
    }
    &__title{
        text-align: center;
        max-width: 430px; 
        margin: 0 auto 60px;
        @media (max-width: 768px) {
            margin-bottom: 57px;
        }
        @media (max-width: 320px) {
            margin-bottom: 42px;
        }
    }
    &__btn{
        background-color: $color-primary;
    }
}
.modal{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 16%, 0.6);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    letter-spacing: 1px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    overflow: auto;
    &.open-modal{
        visibility: visible;
        opacity: 1;
    }
    &__inner{
        background-color: $color-light-s;
        width: 900px;
        //height: 500px;
        margin: 0 auto;
        border-radius: 9px;
        display: flex;
        position: relative;
        @media (max-width: 1120px) {
            width: 630px;      
        }
        @media (max-width: 767px) {
            width: 240px;      
        }
    }
    &__close{
        border: 2px solid $color-primary;
        border-radius: 50%;
        position: absolute;
        top: -52px;
        right: -52px;
        z-index: 2;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            background-color: $color-primary;
        } 
        @media (max-width: 767px) {
            right: -30px;
        }
    }
    &__img img{
        width: 500px; 
        @media (max-width: 1120px) {
            width: 350px;      
        }
        @media (max-width: 767px) {
            display: none;    
        }
    }
    &__box{
        margin-top: 50px;
        margin-left: 29px;
        width: 350px;
        color: #000;
        @media (max-width: 1120px) {
            width: 260px;      
            margin-top: 10px;
            margin-left: 11px;
        }
        @media (max-width: 767px) {
            width: 220px;    
            margin: 10px;
        }
        &-name{
            margin-bottom: 10px;
            @media (max-width: 767px) {
                text-align: center;
            }
        }
        &-breed{
            font-size: 20px;
            line-height: 115%;
            margin-bottom: 40px;
            @media (max-width: 1120px) {
                margin-bottom: 20px;      
            } 
            @media (max-width: 767px) {
                text-align: center;
            }
        }
        &-description{
            line-height: 110%; 
            margin-bottom: 40px;
            @media (max-width: 1120px) {
                margin-bottom: 20px;      
            }
            @media (max-width: 767px) {
                margin-bottom: 24px;      
            }
        }
        &-list{
            list-style: none;
            padding-left: 0;
            li{
                position: relative;
                
                padding-left: 14px;

            }
            li:before{
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $color-primary;
                position: absolute;
                top: 10px;
                left: 0;
            }
            span{
                font-weight: 700;
                text-transform: capitalize;
            }
        }
    }

}
.help{
    padding: 80px 0 100px;
    @media (max-width: 767px) {
        padding: 42px 0;
    }
    &__title{
        text-align: center;
        max-width: 310px;
        margin: 0 auto 59px;
        @media (max-width: 767px) {
            margin-bottom: 42px;
        }
    }
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        gap: 55px 120px;
        @media (max-width: 1270px) {
            gap: 55px 60px;
            //margin: 0 -30px;
        }        
        @media (max-width: 767px) {
            gap: 30px 30px;
            //margin: 0 -15px;
        }
        @media (max-width: 320px) {
            justify-content: flex-start;
        }
    }
    &__item{
        text-align: center;
        //margin: 0 60px 55px;
        @media (max-width: 1270px) {
            width: 170px;
            //margin: 0 30px 56px;
        }
        @media (max-width: 767px) {
            width: 130px;
            //margin: 0 15px 30px;
        }
        svg path{
            transition: all .3s;
        }
        &:hover svg path{
            fill: $color-primary-light;
        }
        svg{
            margin-bottom: 22px;
            @media (max-width: 320px) { 
                margin-bottom: 13px;
                width: 50px;
                height: 50px;        
            }
        }

        p{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 1px;
            @media (max-width: 680px) {
                font-size: 15px;
                line-height: 110%;
            }
        }

    }

}
.slider{
    position: relative;
    max-width: 990px;
    margin-bottom: 30px;
    padding: 0 50px;
 
    &__items{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;

    }
    .arrows{
        color: $color-primary-light;
    }
    .arrow-prev{
        left: 0px;
    }
    .arrow-next{
        right: 0px;
    }
}
.card{
    background-color: $color-light-s;
    border-radius: 9px; 
    text-align: center;
    transition: all .3s;
    cursor: pointer;
 
    &:hover{
        background-color: $color-light-xl;
    }
    &:hover .btn{
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
    &__img{
        width: 100%;
        margin-bottom: 23px;
    }
    &__name{ 
        margin-bottom: 28px;
        font-size: 20px;
        line-height: 23px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 1px;
    }
    &__btn{ 
        border: 2px solid $color-primary; 
        margin-bottom: 28px; 
    }
}
.addition{
    background-color: $color-light-l;
    padding: 80px 0 100px;
    @media (max-width: 680px) {
        padding: 42px 0;
    }
    &__inner{
        display: flex;
        justify-content: center; 
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 680px) {
            padding: 0 10px;
        }
    }
    &__img{
        max-width: 505px;
        margin-right: 30px;
        margin-top: 11px; 
        @media (max-width: 992px) {
            order: 2;
            margin: 0;
        }
        @media (max-width: 680px) {
            max-width: 260px;
        }
        img{
            width: 100%;
            display: block;
        }
    }
    &__box{
        max-width: 380px;
        @media (max-width: 992px) {
            order: 1;
            margin-bottom: 60px;
        }
        @media (max-width: 680px) {
            order: 1;
            margin-bottom: 42px;
        }
    }
    &__title{
        margin-bottom: 16px;
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
        @media (max-width: 680px) {
            margin-bottom: 19px;
        }
    }
    &__bank{
        margin-bottom: 17px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 1px;
        @media (max-width: 768px) {
            margin-bottom: 16px;
        }
        @media (max-width: 540px) {
            letter-spacing: 0px;
            text-align: center;
            margin-bottom: 19px;
        }
    }
    &__card{
        margin-bottom: 20px; 
        display: block;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
        @media (max-width: 540px) {
            text-align: center;
        }
        span{ 
            display: inline-block;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 1.2px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            border-radius: 9px;
            background-color: $color-primary;
            padding: 10px 15px 10px 60px;
            position: relative;
            transition: all .3s;
            @media (max-width: 540px) {
                font-size: 15px;
                line-height: 110%;
                letter-spacing: 0.8px;
                padding: 14px 15px 14px 60px;
                
            }
            &:hover{
                background-color: $color-primary-light;
            }
            &::before{
                content: '';
                background: url(../images/icons/credit-card.svg);
                width: 30px;
                height: 23px;
                position: absolute;
                top: 10px;
                left: 15px;
            }
        }
    }
    &__info{
        font-size: 12px;
        line-height: 18px;
        font-style: italic;
        color: $color-dark-m;
        @media (max-width: 680px) {
            text-align: justify;
        }
    }
}
.footer{
    background: url(../images/start-screen-gradient-background.jpg);
    background-size: cover;
    padding-top: 40px;
    color: $color-primary;
    @media (max-width: 768px) {
        padding-top: 15px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        gap: 40px 60px;
        @media (max-width: 1120px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 680px) {
            gap: 20px 60px;
        }
    }
    &__box{          
        height: 228px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 1.2px;
        margin-top: 17px; 
        @media (max-width: 1120px) {
            margin-bottom: 25px;
        }
        @media (max-width: 680px) {
            text-align: center; 
            align-items: center;
        }
        @media (max-width: 320px) {
            margin-bottom: 7px;
        }
    }
    &__box_contacts{
        width: 278px;
        @media (max-width: 680px) {
            text-align: center;
            height: 200px;
        }
    }
    &__box_address{
        width: 302px;
        @media (max-width: 680px) {
            text-align: center;
            height: 222px;
        }
    }
    &__title{
        color: $color-light-xl;      
        @media (max-width: 680px) {
            text-align: center;
            max-width: 278px;
        }
    }

    &__mail{
        padding-left: 60px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 32px;
            top: -6px;
            left: 0;
            background: url(../images/icons/icon-email.svg);
            width: 40px;
        }
    }
    &__phone{
        padding-left: 60px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 32px;
            top: -6px;
            left: 0;
            background: url(../images/icons/icon-phone.svg);
            width: 40px;
        }
    }
    &__address{
        padding-left: 42px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 32px;
            top: 0px;
            left: 0;
            background: url(../images/icons/icon-marker.svg);
            width: 22px;

        }
    }
    img{
        display: block;
        @media (max-width: 680px) {
            max-width: 260px;
            margin-top: 14px;
        }
    }
}


.our-friends{
    margin-top: 120px;
    padding: 80px 0 100px;
    background-color: $color-light-l;
    text-align: center;
    @media (max-width: 992px) {
        padding-bottom: 78px;      
    }
    @media (max-width: 680px) {
        margin-top: 82px;    
        padding-bottom: 40px;
    }
    &__title{
        text-align: center;
        max-width: 425px; 
        margin: 0 auto 60px;
        @media (max-width: 992px) {
            margin-bottom: 30px;      
        }
        @media (max-width: 680px) {
            margin-bottom: 42px;    
        }
    }
    &__btn{
        background-color: $color-primary;
    }
}
.modal{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 16%, 0.6);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    letter-spacing: 1px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    overflow: auto;
    &.open-modal{
        visibility: visible;
        opacity: 1;
    }
    &__inner{
        background-color: $color-light-s;
        width: 900px;
        //height: 500px;
        margin: 0 auto;
        border-radius: 9px;
        display: flex;
        position: relative;
        @media (max-width: 1120px) {
            width: 630px;      
        }
        @media (max-width: 767px) {
            width: 240px;      
        }
    }
    &__close{
        border: 2px solid $color-primary;
        border-radius: 50%;
        position: absolute;
        top: -52px;
        right: -52px;
        z-index: 2;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            background-color: $color-primary;
        } 
        @media (max-width: 767px) {
            right: -30px;
        }
    }
    &__img img{
        width: 500px; 
        @media (max-width: 1120px) {
            width: 350px;      
        }
        @media (max-width: 767px) {
            display: none;    
        }
    }
    &__box{
        margin-top: 50px;
        margin-left: 29px;
        width: 350px;
        color: #000;
        @media (max-width: 1120px) {
            width: 260px;      
            margin-top: 10px;
            margin-left: 11px;
        }
        @media (max-width: 767px) {
            width: 220px;    
            margin: 10px;
        }
        &-name{
            margin-bottom: 10px;
            @media (max-width: 767px) {
                text-align: center;
            }
        }
        &-breed{
            font-size: 20px;
            line-height: 115%;
            margin-bottom: 40px;
            @media (max-width: 1120px) {
                margin-bottom: 20px;      
            } 
            @media (max-width: 767px) {
                text-align: center;
            }
        }
        &-description{
            line-height: 110%; 
            margin-bottom: 40px;
            @media (max-width: 1120px) {
                margin-bottom: 20px;      
            }
            @media (max-width: 767px) {
                margin-bottom: 24px;      
            }
        }
        &-list{
            list-style: none;
            padding-left: 0;
            li{
                position: relative;
                
                padding-left: 14px;

            }
            li:before{
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $color-primary;
                position: absolute;
                top: 10px;
                left: 0;
            }
            span{
                font-weight: 700;
                text-transform: capitalize;
            }
        }
    }

}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-items: center;
    margin-bottom: 60px;
    gap: 30px 40px;
    @media (max-width: 1279px) {
        max-width: 580px;
        margin: 0 auto 40px;      
    }
    @media (max-width: 767px) {
        max-width: 300px;
        margin-bottom: 44px;
    }

    .card{
        background-color: $color-light-s;
        border-radius: 9px;
        width: 270px; 
        text-align: center;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            background-color: $color-light-xl;
        }
        &:hover .btn{
            background-color: $color-primary-light;
            border-color: $color-primary-light;
        }
        &__img{
            width: 100%;
            margin-bottom: 23px;
        }
        &__name{ 
            margin-bottom: 28px;
            font-size: 20px;
            line-height: 23px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            letter-spacing: 1px;
        }
        &__btn{ 
            border: 2px solid $color-primary; 
            margin-bottom: 28px; 
        }
        @media (max-width: 1279px) {
            &:nth-child(6) ~ .card{
                display: none;
            }
        }
        @media (max-width: 767px) {
            &:nth-child(3) ~ .card{
                display: none;
            }    
        }
    }
}
.navigation{
    display: flex;
    justify-content: center;
    @media (max-width: 680px) {
        margin: 0 -5px;    
    }
    button{
        border: 2px solid $color-primary;
        padding: 10px;
        margin: 0 10px;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        font-size: 20px;
        color: #292929;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s;
        @media (max-width: 680px) {
            margin: 0 5px;    
        }
        &:hover{
            border-color: $color-primary-light;
        }
    }
    .disabled{
        border: 2px solid $color-dark-s;
        color: $color-dark-s;
        cursor: auto;
        &:hover{
            border: 2px solid $color-dark-s;
        }
    }
    .active{
        background-color: $color-primary;
        &:hover{
            background-color: $color-primary-light;
            border-color: $color-primary-light;
        }
    }
}